<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Cover</h3>
    <nav>
      <ul class="nav masthead-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/transactions">My transactions</a></li>
        <li><a href="/account">My account</a></li>
      </ul>
    </nav>
  </div>
</div>