<div class="masthead clearfix">
  <div class="inner">
  	<h3 class="hidden-xs" class="masthead-brand">{{title}}</h3>
    <nav>
      <ul class="nav masthead-nav">
        <li {{#isActivePage page 'home'}}class="active"{{/isActivePage}}><a href="/">Home</a></li>
        <li {{#isActivePage page 'transactions'}}class="active"{{/isActivePage}}><a href="/transactions">My transactions</a></li>
        <li {{#isActivePage page 'account'}}class="active"{{/isActivePage}}><a href="/account">My account</a></li>
      </ul>
    </nav>
  </div>
</div>