<div ng-controller="HomeController">
	<br>
	<br>
	<br>

	<div class="container">

		<div class="row">
			<div class="col-md-10">
				<br>
				<h2  style="text-align: center;">Your current Expenditures and Incomes ($ in thousand)</h2>
				<div id="containerBarChart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-md-10">

				<div class="col-md-8">
					<h2 style="text-align: center;">Monthly Average Net Worth</h2>
				</div>
				<div class="col-md-4">
					<form >
						<input type="hidden" name="_csrf" value={{_csrf}} />
					  <div class="input-group" style="max-width: 300px;">
				      <input type="text" class="form-control" ng-model="data.price" placeholder="Search for...">
				      <span class="input-group-btn">
				        <button class="btn btn-primary" type="button" ng-click="shouldIBuyIt()">Should I buy?</button>
				      </span>
				    </div><!-- /input-group -->
					</form>
				</div>

				<div id="containerLineChart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
			</div>
		</div>


	</div>

</div>
