<div ng-controller="HomeController">
	<div class="inner cover">
	  <h1 class="cover-heading"></h1>
	</div>

	<form>
		PUT THE INPUT TEXT HERE!!
	</form>

	<div id="containerLineChart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
	<div id="containerBarChart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>