<div ng-controller="TransactionsController">
	<div class="inner cover">
	  <h1 class="cover-heading">{{title}}</h1>
	</div>

	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Transaction #</th>
				<th>Date</th>
				<th>Amount</th>
				<th>Category</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tr ng-repeat="item in data.transactions track by $index" >
			<td>transaction {{$index}}</td>
			<td>transaction {{$index}}</td>
			<td>transaction {{$index}}</td>
			<td>transaction {{$index}}</td>
			<td>
				
				<div ng-show="!item.__edit" ng-click="edit(item)">
					<button type="button" class="btn btn-success btn-sm">
						<i class="btn-sm fa fa-edit fa-lg"></i> Edit
					</button>
				</div>
				<div ng-show="item.__edit === true">
					<button type="button" class="btn btn-success">Save</button>
				</div>
			</td>
		</tr>
	</table>
</div>